
.dark-theme{
  --primary-color: rgb(40,49,67);
  --secondary-color: #eee;
  --tertiary-color: rgb(245,164,10);

}
h1 {
  text-align: center;
   margin-top: 30px;
}
  
h2 {
  text-align: center;
  margin-top: 10px;
  color: #666;
}
  
.calculadora {
  width: 314px;
  margin: 0 auto;
  background-color: rgb(40,49,67);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(48, 50, 142, 0.1);
}
  
#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  color: #fff;
  background-color: rgb(36,47,65);
  border: 0;
}

.numbers{
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
  background-color:  rgb(47, 58, 81);
  box-shadow: 0 0 10px rgb(26, 26, 26);
}
.symbols{
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(245,164,10);
  background-color:  rgb(47, 58, 81);
  box-shadow: 0 0 10px rgb(26, 26, 26);
}

.symbols:hover , .numbers:hover {
  background-color: #7a7878;
}
  
input[type="button"]:last-child {
  margin-right: 0;
}
